/* style.css */

/* Den Grønne Avis- style class*/
.title-style{
    font-size: 200px;
    text-align: center;
    color: #2C3424;
}


/* background font and color*/
body{
font-family: Helvetica, Arial, sans-serif;
background-color: #CFE2C4;
}


/* homepage 1 and 2  background*/


/*  */