/* style.css */

/* Den Grønne Avis- style class*/
.title-style{
    font-size: 1000px;
    text-align: center;
    color: #2C3424;
}


/* background font and color*/
body{
font-family: Helvetica, Arial, sans-serif;
background-color: #CFE2C4;
    margin: 0;
    padding:0;
    height: 100%;

}


/* homepage 1 and 2  background*/

.background-blur {
    position: fixed;               /* stays in place even when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("homepageBackground.jpg");
    background-size: cover;        /* fill the screen */
    background-position: center;   /* center the image */
    filter: blur(10px);            /* control how blurry it looks */
    z-index: -1;                   /* make sure it’s behind your content */
}

.circle-text {
    display: flex;
    margin: 500px auto 0;
    width: 100vw;
    height: 1000vw;
    text-align:center;
}
text {
    letter-spacing: 2px; /* adjust spacing to fill circle evenly */
}

/* Center the circular text block in the page */
.circle-text-container {
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh; /* fill viewport height */
    margin-left: 100px;
}


/* Wrapper fills remaining vertical space */
.wrapper {
    flex: 1;               /* fills remaining vertical space */
    width: 85%;            /* adjust horizontal width as needed */
    margin: 100px auto 0 auto;        /* center horizontally */
    padding: 200px;
    box-sizing: border-box;
    background-color: #AAA297;
    overflow: auto; /* scroll if content overflows */
}

/* circle behind logo */
.logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;                 /* circle scales with viewport */
    height: 30vw;                /* keep square for circular shape */
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;          /* makes it a perfect circle */
    background-color: rgba(300, 300, 300, 0.5);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    margin: 40px auto 20px auto; /* spacing from page edges */
    padding: 2vw;                /* space between text and circle edge */
    box-sizing: border-box;
}

.circle-title {
    width: 100%;
    height: 100%;
}

