/* style.css */

/* Den Grønne Avis- style class*/
.title-style{
    font-size: 100px;
    text-align: center;
    color: #2C3424;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.container h2{
    text-align: center;
    margin-top: 125px;
    font-size: 48px;
}

.container form input{
    width: 300px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
}

.btn-confirm{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.btn-confirm:hover{
    background: red;
}

/* background font and color*/
body{
font-family: Helvetica, Arial, sans-serif;
background-color: #CFE2C4;
    margin: 0;
    padding:0;
    height: 100%;

}


/* homepage 1 and 2  background*/

.background-blur {
    position: fixed;               /* stays in place even when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("homepageBackground.jpg");
    background-size: cover;        /* fill the screen */
    background-position: center;   /* center the image */
    filter: blur(10px);            /* control how blurry it looks */
    z-index: -1;                   /* make sure it’s behind your content */
}

.circle-text {
    display: flex;
    margin: 500px auto 0;
    width: 800px;
    height: 800px;
    text-align:center;
}
text {
    letter-spacing: 2px; /* adjust spacing to fill circle evenly */
}

/* Center the circular text block in the page */
.circle-text-container {
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh; /* fill viewport height */
    margin-left: 100px;
}


/* Wrapper fills remaining vertical space */
.wrapper {
    flex: 1;               /* fills remaining vertical space */
    width: 85%;            /* adjust horizontal width as needed */
    margin: auto;        /* center horizontally */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    overflow: auto;

    /* scroll if content overflows */
}



/*  */