<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktive Donationer</title>
    <link rel="stylesheet" href="../static/CSS.css">
</head>


<nav class="topbar">
    <div class="menu-container">
        <button class="menu-button">☰ Menu</button>
        <div class="dropdown-content">
            <a href="/">Forside</a>
            <a href="/login">Log ind</a>
            <a href="/reg-user">Opret bruger</a>
            <a href="/limited-donations">Se donationer</a>

        </div>
    </div>
</nav>


<body>
<div class="background-blur"></div>
<div class="wrapper1">
    <h1 class="h1-topText">Aktive Donationer</h1>
<div class="post-grid">
    <div class="post-card">
        <h2 class="post-titel">Overskud af brød</h2>
        <p class="post-type">Virksomhed: <strong>Bakery Co.</strong></p>
        <p class="post-location">Lokation: København</p>
        <p class="post-description">Brød bagt i morges til afhentning i dag.</p>
    </div>

    <div class="post-card">
        <h2 class="post-titel">Hjemmelavet Lasagne</h2>
        <p class="post-type">Privatperson: <strong>Julius Ring</strong></p>
        <p class="post-location">Lokation: Humlebæk</p>
        <p class="post-description">Vi har lavet for meget lasagne så kom og hent.</p>
    </div>

    <div class="post-card">
        <h2 class="post-titel">Firmafest leftovers</h2>
        <p class="post-type">Virksomhed: <strong>Erhvervsakademi København</strong></p>
        <p class="post-location">Lokation: København</p>
        <p class="post-description">Vi har haft en fest og har en masse mad tilbage, kom og hent!</p>
    </div>

    <div class="post-card">
        <h2 class="post-titel">Rødekors Donation</h2>
        <p class="post-type">Organization: <strong>Rødekors</strong></p>
        <p class="post-location">Lokation: Roskilde</p>
        <p class="post-description">Kom og få et varmt måltid.</p>
    </div>

    <div class="post-card">
        <h2 class="post-titel">Grøntsager fra weekendmarked</h2>
        <p class="post-type">Privatperson: <strong>Jihad Assi</strong></p>
        <p class="post-location">Lokation: Odense</p>
        <p class="post-description">Friske tomater, gulerødder og salat - gratis afhentning.</p>
    </div>
</div>
</div>

</body>
</html>