<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create private person</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS.css">
</head>
<body>
<div class="container">
  <h2>OPRET SOM VIRKSOMHED</h2>
  <form id="opretForm">
    <label for="navn">Navn</label>
    <input type="text" id="navn" name="navn" required><br>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required><br>

    <label for="kode">Kodeord</label>
    <input type="password" id="kode" name="kode" required><br>

    <label for="cvr">CVR-Nummer</label>
    <input type="text" id="cvr" name="cvr" required><br>

    <a th:href="@{/homepage2}">
    <button type="submit" class="btn-confirm">Bekræft</button>
    </a>

  </form>
</div>
</body>
</html>