<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm page</title>
    <link rel="stylesheet" href="/CSS.css">
</head>
<body class="confirmation-page">

<nav class="topbar">
    <div class="menu-container">
        <button class="menu-button">☰ Menu</button>
        <div class="dropdown-content">
            <a href="/home">Forside</a>
            <a href="/unlimited-donations">Se donationer</a>
            <a href="/about-us">Om Konceptet</a>
            <a href="/logout">Log ud</a>
        </div>
    </div>
</nav>

<h1 class="confirm-message1">Tak for din donation!</h1>
<h2 class="confirm-message2">Du er med til at bekæmpe madspild</h2>

<div class="confirm-option">

    <form action="/unlimited-donations" method="get">
        <button type="submit" class="confirm-option1">Se alle opslag</button>
    </form>


    <form action="/home" method="get">
        <button type="submit" class="confirm-option2">Tilbage til forside</button>
    </form>
</div>

</body>
</html>