<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link rel="stylesheet" href="/CSS.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body class="create-user-page">





<nav class="topbar">
  <div class="menu-container">
    <button class="menu-button">☰ Menu</button>
    <div class="dropdown-content">
      <a href="/">Forside</a>
      <a href="/login">Log ind</a>
      <a href="/reg-user">Opret bruger</a>
      <a href="/limited-donations">Se donationer</a>
      <a href= "/about-us">Om Konceptet</a>
    </div>
  </div>
</nav>




<header class="site-header">
  <h1>Opret bruger</h1>
  <p>Vælg hvilken type profil du vil oprette. Alle typer kan både donere og modtage donationer.</p>
</header>

<main class="choose-user-type">

  <section class="user-type-card">
    <h2>Privatperson</h2>
    <p>Til dig der vil donere din overskydende mad, eller hente mad fra andre i nærheden</p>
    <a class="button" href="/reg-user/private">Opret som privatperson</a>
  </section>


  <section class="user-type-card">
    <h2>Virksomhed</h2>
    <p>Til restauranter, caféer, kantiner, supermarkeder m.m. der vil donere eller modtage overskydende mad</p>
    <a class="button" href="/reg-user/company">Opret som virksomhed</a>
  </section>

  <section class="user-type-card">
    <h2>Organisation</h2>
    <p>Til foreninger, velgørenhed, sociale indsatser mm. der vil donere eller afhente mad </p>
    <a class="button" href="/reg-user/organization">Opret som organisation</a>
  </section>

</main>



<footer class="site-footer">
  <a class="link-back" href="/">Tilbage til forsiden</a>
</footer>

</body>
</html>