<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret donation</title>
  <link rel="stylesheet" href="/CSS.css">
</head>


<body>

    <nav class="topbar">
      <div class="menu-container">
        <button class="menu-button">☰ Menu</button>
        <div class="dropdown-content">
          <a href="/home">Forside</a>
          <a href="/unlimited-donations">Se donationer</a>
          <a href="/about-us">Om Konceptet</a>
            <a href="/about-food-waste">Om madspild</a>
            <a href="/logout">Log ud</a>
        </div>
      </div>
    </nav>

    <div class="background-blur"></div>


    <header class="create-donation-text">
    <h1>Opret donation</h1>
    <h2>Gør en forskel og giv din overskydende mad væk her</h2>
    </header>



    <div class="donation-opt">
        <form action="/reg-donation" method="post">

          <label class="create-titel" for="title">Overskrift:</label>
          <input class="titel-input" id="title" name="title" type="text" placeholder="Giv din donation en overskrift" required>

          <label for="description" class="create-description">Beskrivelse:</label>
          <textarea class="description-input" id="description" name="description" rows="5" placeholder="Skriv en kort beskrivelse af hvad du vil donere"></textarea>

          <button type="submit" class="btn-don">Opret donation</button>

        </form>
    </div>


    <footer class="site-footer">
      <a class="link-back" href="/home">Tilbage til forsiden</a>
    </footer>
</body>
</html>