<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS.css">
    <title>homepage2</title>
</head>



<body class="homepage-two">

<nav class="topbar">
    <div class="menu-container">
        <button class="menu-button">☰ Menu</button>
        <div class="dropdown-content">
            <a href="/home">Forside</a>
            <a href="/reg-donation">Opret donation</a>
            <a href="/unlimited-donations">Se donationer</a>
            <a href="/about-us">Om Konceptet</a>
            <a href="/logout">Log ud</a>

        </div>
    </div>
</nav>
<div class="background-blur"></div>




<div class="logo-background">
    <svg viewBox="0 0 400 400" class="circle-title">
        <defs>
            <!-- Make the circular path larger -->
            <path id="textCircle"
                  d="M200,200
               m-150,0
               a150,150 0 1,1 300,0
               a150,150 0 1,1 -300,0" />
        </defs>

        <text font-size="28" fill="black" font-family="Arial" text-anchor="middle">
            <textPath href="#textCircle" startOffset="50%">
                D E N G R Ø N N E A V I S • D E N G R Ø N N E A V I S • D E N G R Ø N N E A V I S •
            </textPath>
        </text>
    </svg>
</div>

<p class="welcome-text">
    Velkommen, <span th:text="${username}"></span>!
</p>
<div class="wrapper1">
    <!-- homepage content  -->
    <h1 class = "h1-topText">Gør en forskel</h1>
    <div class="container">

        <div class="small-wrapper">
            <p class="small-wrapper-text-style"> Har du oprettet en donation? Har du modtaget din mad? Har du lært noget om madspild? Så er du klar til at logge ud her.</p>
            <a class="button-design" type="button" href="/">LOG UD</a>
        </div>


        <div class="small-wrapper">
            <p class="small-wrapper-text-style"> Har du noget mad tilovers og vil gøre en god gerning med at gøre en anden person glad? Så opret din donation her: .</p>
            <a class="button-design" type="button" href="/reg-donation">OPRET DONATION</a>
        </div>


        <div class="small-wrapper">
            <p class="small-wrapper-text-style" lang="da">Se alle vores nuværende donationer, og se om der er noget der frister. Der bliver vist kun aktive donation. </p>
            <a class="button-design" type="button" href="/unlimited-donations">AKTIVE DONATIONER</a>
        </div>
    </div>
</div>

</body>
</html>

