<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/CSS.css">
    <meta charset="UTF-8">
    <title>Homepage1</title>
</head>

<body>

<div class="background-blur"></div>



<div class="logo-background">
<svg viewBox="0 0 400 400" class="circle-title">
    <defs>
        <!-- Make the circular path larger -->
        <path id="textCircle"
              d="M200,200
               m-150,0
               a150,150 0 1,1 300,0
               a150,150 0 1,1 -300,0" />
    </defs>

    <text font-size="28" fill="black" font-family="Arial" text-anchor="middle">
        <textPath href="#textCircle" startOffset="50%">
            D E N G R Ø N N E A V I S • D E N G R Ø N N E A V I S • D E N G R Ø N N E A V I S •
        </textPath>
    </text>
</svg>
</div>
<div class="wrapper1">
    <!-- homepage content  -->
<h1 class = "h1-topText">Gør en forskel</h1>
    <div class="container">



        <div class="small-wrapper">
            <p class="small-wrapper-text-style"> Log ind og bliv en del af fællesskabet hos Den Grønne Avis. Som medlem får du fuld adgang til vores artikler, masser af inspiration til en grønnere og mere bæredygtig hverdag samt eksklusive fordele og tilbud kun for abonnenter.</p>
            <button class="button-design" type="button" onclick="location.href='http://localhost:8080/'">LOG IND</button>
        </div>


        <div class="small-wrapper">
            <p class="small-wrapper-text-style"> Er du endnu ikke medlem af vores familie? Opret din bruger her og bliv en del af vores fællesskab, hvor du får adgang til spændende indhold, nyheder, inspiration og eksklusive fordele, der kun er tilgængelige for vores medlemmer.</p>
            <button class="button-design" type="button" onclick="location.href='http://localhost:8080/'">OPRET BRUGER</button>
        </div>


        <div class="small-wrapper">
            <p class="small-wrapper-text-style" lang="da">Interesseret i konceptet? Se alle vores aktive donationer, udforsk de mange muligheder nærmere, læs om de forskellige formål og initiativer, og beslut dig derefter, om der er noget, der virkelig frister og passer perfekt til dine interesser og værdier.</p>
            <button class="button-design" type="button" onclick="location.href='http://localhost:8080/'">AKTIVE DONATIONER</button>
        </div>
    </div>
</div>



</body>
</html>