<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS.css">
    <title>Logged in page</title>
</head>



<body class="homepage-two">

<nav class="topbar">
    <div class="menu-container">
        <button class="menu-button">☰ Menu</button>
        <div class="dropdown-content">
            <a href="/home">Forside</a>
            <a href="/reg-donation">Opret donation</a>
            <a href="/unlimited-donations">Se donationer</a>
            <a href="/about-us">Om Konceptet</a>
            <a href="/logout">Log ud</a>

        </div>
    </div>
</nav>





<div class="background-blur"></div>


<p class="welcome-text">
    Velkommen, <span th:text="${username}"></span>!
</p>

</body>
</html>

