<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="CSS.css">
    <meta charset="UTF-8">
    <title>Homepage1</title>
</head>

<body>

<div class="background-blur"></div>



<div class="logo-background">
<svg viewBox="0 0 400 400" class="circle-title">
    <defs>
        <!-- Make the circular path larger -->
        <path id="textCircle"
              d="M200,200
               m-150,0
               a150,150 0 1,1 300,0
               a150,150 0 1,1 -300,0" />
    </defs>

    <text font-size="28" fill="black" font-family="Arial" text-anchor="middle">
        <textPath href="#textCircle" startOffset="50%">
            D E N G R Ø N N E A V I S • D E N G R Ø N N E A V I S • D E N G R Ø N N E A V I S •
        </textPath>
    </text>
</svg>
</div>
<div class="wrapper1">
    <!-- homepage content  -->
<h1 class = "h1-topText">Gør en forskel</h1>
    <div class="container">

        <div class="small-wrapper">
            <p> write you text here and remember to add a css style class for that text</p>
            <div class = "login-button">
                <a href="⁦http://localhost:8080⁩/"><button>LOG IND</button></a>
            </div>
        </div>

        <div class="small-wrapper">Wrapper 2
            <p> write you text here and remember to add a css style class for that text</p>
            <div class = "register-button">
                <a href="⁦http://localhost:8080⁩/"><button>OPRET BRUGER</button> </a>
            </div>
        </div>

        <div class="small-wrapper">Wrapper 3
            <p> write you text here and remember to add a css style class for that text</p>
            <div class = "seeDonations-button">
                <a href="⁦http://localhost:8080⁩/"><button>SE DONATIONER</button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>